[submodule "anchor-amm"]
	path = anchor-amm
	url = https://github.com/subhdotsol/AMM-Sandbox
[submodule "pinochhio-amm"]
	path = pinochhio-amm
	url = https://github.com/subhdotsol/pinocchio-amm
[submodule "encrypted-calculator"]
	path = encrypted-calculator
	url = https://github.com/subhdotsol/The-encrypted-calculator
